# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Build / distribución
build/
dist/
*.spec

# Archivos temporales
*.log
*.tmp

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# PyInstaller
*.exe

01_Story_fixed.psd
01_Story.psd
6758959f566b6618e1b983f8_fixed.psd
6758959f566b6618e1b983f8.psd
NATURAS_MUEBLES_EXHIBIDORES.psd
SeisPlataformas.psd
textvertical_fixed.psd
textvertical.psd